In [1]:
import pandas as pd

In [32]:
columns= ["mpg","cylinders","displacement","horsepower","weight","acceleration","model year","origin","car name"]
df = pd.read_csv("auto-mpg.data-original",sep=r"\s+",names=columns)

In [33]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

In [35]:
df.mean(numeric_only=True)

mpg               23.514573
cylinders          5.475369
displacement     194.779557
horsepower       105.082500
weight          2979.413793
acceleration      15.519704
model year        75.921182
origin             1.568966
dtype: float64

In [36]:
df.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,398.000000,406.000000,406.000000,400.000000,406.000000,406.000000,406.000000,406.000000
mean,23.514573,5.475369,194.779557,105.082500,2979.413793,15.519704,75.921182,1.568966
std,7.815984,1.712160,104.922458,38.768779,847.004328,2.803359,3.748737,0.797479
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,105.000000,75.750000,2226.500000,13.700000,73.000000,1.000000
50%,23.000000,4.000000,151.000000,95.000000,2822.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,302.000000,130.000000,3618.250000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [38]:
df.shape

(406, 9)

In [39]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [41]:
for i in df.columns:
    print(i)

mpg
cylinders
displacement
horsepower
weight
acceleration
model year
origin
car name

In [42]:
df.info

<bound method DataFrame.info of       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0        8.0         307.0       130.0  3504.0          12.0
1    15.0        8.0         350.0       165.0  3693.0          11.5
2    18.0        8.0         318.0       150.0  3436.0          11.0
3    16.0        8.0         304.0       150.0  3433.0          12.0
4    17.0        8.0         302.0       140.0  3449.0          10.5
..    ...        ...           ...         ...     ...           ...
401  27.0        4.0         140.0        86.0  2790.0          15.6
402  44.0        4.0          97.0        52.0  2130.0          24.6
403  32.0        4.0         135.0        84.0  2295.0          11.6
404  28.0        4.0         120.0        79.0  2625.0          18.6
405  31.0        4.0         119.0        82.0  2720.0          19.4

     model year  origin                   car name
0          70.0     1.0  chevrolet chevelle malibu
1          70.0     1.0          buick skylark 320
2          70.0     1.0         plymouth satellite
3          70.0     1.0              amc rebel sst
4          70.0     1.0                ford torino
..          ...     ...                        ...
401        82.0     1.0            ford mustang gl
402        82.0     2.0                  vw pickup
403        82.0     1.0              dodge rampage
404        82.0     1.0                ford ranger
405        82.0     1.0                 chevy s-10

[406 rows x 9 columns]>

In [43]:
df.isnull().sum()

mpg             8
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [45]:
for i in df.columns:
    print(f"Count based on column {i}")
    print(df[i].value_counts())

Count based on column mpg
mpg
13.0    20
14.0    19
18.0    17
15.0    16
26.0    14
        ..
31.9     1
16.9     1
18.2     1
22.3     1
44.0     1
Name: count, Length: 129, dtype: int64
Count based on column cylinders
cylinders
4.0    207
8.0    108
6.0     84
3.0      4
5.0      3
Name: count, dtype: int64
Count based on column displacement
displacement
97.0     22
350.0    19
98.0     18
250.0    17
318.0    17
         ..
83.0      1
171.0     1
115.0     1
101.0     1
144.0     1
Name: count, Length: 83, dtype: int64
Count based on column horsepower
horsepower
150.0    22
90.0     20
88.0     19
110.0    19
100.0    17
         ..
122.0     1
61.0      1
93.0      1
148.0     1
82.0      1
Name: count, Length: 93, dtype: int64
Count based on column weight
weight
2130.0    4
1985.0    4
2300.0    3
2720.0    3
2155.0    3
         ..
2660.0    1
3399.0    1
2868.0    1
2582.0    1
2625.0    1
Name: count, Length: 356, dtype: int64
Count based on column acceleration
acceleration
14.5    23
15.5    21
14.0    16
16.0    16
13.5    15
        ..
11.1     1
12.1     1
21.9     1
22.1     1
11.6     1
Name: count, Length: 96, dtype: int64
Count based on column model year
model year
73.0    40
78.0    36
70.0    35
76.0    34
82.0    31
75.0    30
81.0    30
71.0    29
79.0    29
80.0    29
72.0    28
77.0    28
74.0    27
Name: count, dtype: int64
Count based on column origin
origin
1.0    254
3.0     79
2.0     73
Name: count, dtype: int64
Count based on column car name
car name
ford pinto             6
ford maverick          5
amc matador            5
toyota corolla         5
amc hornet             4
                      ..
plymouth fury          1
buick skyhawk          1
chevrolet monza 2+2    1
ford mustang ii        1
chevy s-10             1
Name: count, Length: 312, dtype: int64

In [46]:
for i in df.columns:
    print(df[i].unique)

<bound method Series.unique of 0      18.0
1      15.0
2      18.0
3      16.0
4      17.0
       ...
401    27.0
402    44.0
403    32.0
404    28.0
405    31.0
Name: mpg, Length: 406, dtype: float64>
<bound method Series.unique of 0      8.0
1      8.0
2      8.0
3      8.0
4      8.0
      ...
401    4.0
402    4.0
403    4.0
404    4.0
405    4.0
Name: cylinders, Length: 406, dtype: float64>
<bound method Series.unique of 0      307.0
1      350.0
2      318.0
3      304.0
4      302.0
       ...
401    140.0
402     97.0
403    135.0
404    120.0
405    119.0
Name: displacement, Length: 406, dtype: float64>
<bound method Series.unique of 0      130.0
1      165.0
2      150.0
3      150.0
4      140.0
       ...
401     86.0
402     52.0
403     84.0
404     79.0
405     82.0
Name: horsepower, Length: 406, dtype: float64>
<bound method Series.unique of 0      3504.0
1      3693.0
2      3436.0
3      3433.0
4      3449.0
        ...
401    2790.0
402    2130.0
403    2295.0
404    2625.0
405    2720.0
Name: weight, Length: 406, dtype: float64>
<bound method Series.unique of 0      12.0
1      11.5
2      11.0
3      12.0
4      10.5
       ...
401    15.6
402    24.6
403    11.6
404    18.6
405    19.4
Name: acceleration, Length: 406, dtype: float64>
<bound method Series.unique of 0      70.0
1      70.0
2      70.0
3      70.0
4      70.0
       ...
401    82.0
402    82.0
403    82.0
404    82.0
405    82.0
Name: model year, Length: 406, dtype: float64>
<bound method Series.unique of 0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
401    1.0
402    2.0
403    1.0
404    1.0
405    1.0
Name: origin, Length: 406, dtype: float64>
<bound method Series.unique of 0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
401              ford mustang gl
402                    vw pickup
403                dodge rampage
404                  ford ranger
405                   chevy s-10
Name: car name, Length: 406, dtype: object>